name: 04 - Using Actions

on:
    workflow_dispatch:
    push:
        branches:
            - main

jobs:
    run-ci:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "20"

            - name: Install Dependencies
              run: echo "Simulating npm install..."

            - name: Run Tests
              run: echo "Simulating npm test..."
