name: 06 - Contexts and Secrets

on: [push, workflow_dispatch]

env:
    # Defining a Global Variable (available to all jobs)
    MY_WORKFLOW_VAR: "Global Value"

jobs:
    inspect-contexts:
        runs-on: ubuntu-latest
        steps:
            - name: Inspect GitHub Context
              run: |
                  echo "Run triggered by: ${{ github.actor }}"
                  echo "Branch/Ref: ${{ github.ref }}"
                  echo "Repository: ${{ github.repository }}"
                  echo "Event Name: ${{ github.event_name }}"
                  echo "Run ID: ${{ github.run_id }}"

            - name: Inspect Env Variables
              env:
                  STEP_LEVEL_VAR: "Step Local Value"
              run: |
                  echo "Reviewing Environment Variables..."
                  echo "Workflow Level: $MY_WORKFLOW_VAR"
                  echo "Step Level: $STEP_LEVEL_VAR"
                  echo "Default CI Var: $CI"
                  echo "Workspace Path: $GITHUB_WORKSPACE"

            - name: Inspect Secrets (Simulation)
              env:
                  MY_SECRET: ${{ secrets.MY_API_KEY }}
              run: |
                  echo "Attemping to print secret..."
                  # GitHub will automatically mask secrets as ***
                  echo "My Secret is: $MY_SECRET"

                  if [ -z "$MY_SECRET" ]; then
                    echo "Secret is empty (Expected, as we haven't set it in repo settings yet)"
                  else
                    echo "Secret found!"
                  fi
